@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');

body {
     background: #261A1C;
     font: 1em 'Roboto Mono', monospace;
}

.logo {
     align-items: center;
     display: flex;
}

.logo img {
     flex: auto;
     height: 200px;
}

nav {
     background: #A65729;
     display: flex;
     margin-bottom: 1em;
}

.container {
     align-items: stretch;
     column-gap: 10px;
     display: flex;
     flex-wrap: wrap;
     row-gap: 10px;
}

.post {
     background: #A60A33;
     color: #ffffff;
     border: 1px solid #8D001A;
     border-radius: 10px;
     flex: 300px;
     padding: .8em;
}

h1 {
     font-size: 1.4em;
     margin: 0 0 .4em 0;
}

a {
     color: #88B0BF;
     text-decoration: none;
}

a:hover {
     text-decoration: underline;
}